<form>
    <div class="form-group">
        <label>Formula</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.AbilityModifierLabel"}}</label>
        <select name="ability">
        {{#select data.ability}}
        {{#each data.abilities as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
        </select>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SituationalBonusQuestion"}}</label>
        <input type="text" name="bonus" value="" placeholder="{{localize "PF2E.RollBonusPlaceholder"}}"/>
    </div>
</form>
